<?xml version="1.0" encoding="UTF-8" ?>

<config>
    <modules>
        <Boxalino_Intelligence>
            <version>0.0.1</version>
        </Boxalino_Intelligence>
    </modules>

    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Boxalino_Intelligence before="Mage_Catalog">Boxalino_Intelligence</Boxalino_Intelligence>
                    </modules>
                </args>
            </catalog>
            <boxalinointelligence>
                <use>standard</use>
                <args>
                    <module>Boxalino_Intelligence</module>
                    <frontName>boxalinointelligence</frontName>
                </args>
            </boxalinointelligence>
        </routers>
        <layout>
            <updates>
                <boxalino_intelligence>
                    <file>boxalino.xml</file>
                </boxalino_intelligence>
            </updates>
        </layout>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <boxalino_intelligence_cart_add>
                        <class>Boxalino_Intelligence_Model_Observer</class>
                        <method>onProductAddedToCart</method>
                    </boxalino_intelligence_cart_add>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <boxalino_intelligence_order_success>
                        <class>Boxalino_Intelligence_Model_Observer</class>
                        <method>onOrderSuccessPageView</method>
                    </boxalino_intelligence_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <boxalino_intelligence_order_success>
                        <class>Boxalino_Intelligence_Model_Observer</class>
                        <method>onOrderSuccessPageView</method>
                    </boxalino_intelligence_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
            <catalog_controller_product_view>
                <observers>
                    <boxalino_intelligence_product_view>
                        <class>Boxalino_Intelligence_Model_Observer</class>
                        <method>onProductPageView</method>
                    </boxalino_intelligence_product_view>
                </observers>
            </catalog_controller_product_view>
            <catalog_controller_category_init_after>
                <observers>
                    <boxalino_intelligence_category_view>
                        <class>Boxalino_Intelligence_Model_Observer</class>
                        <method>onCategoryPageView</method>
                    </boxalino_intelligence_category_view>
                </observers>
            </catalog_controller_category_init_after>
            <customer_login>
                <observers>
                    <boxalino_intelligence_login>
                        <class>Boxalino_Intelligence_Model_Observer</class>
                        <method>onLogin</method>
                    </boxalino_intelligence_login>
                </observers>
            </customer_login>
        </events>
        <translate>
            <modules>
                <Boxalino_Intelligence>
                    <files>
                        <default>Boxalino_Intelligence.csv</default>
                    </files>
                </Boxalino_Intelligence>
            </modules>
        </translate>
    </frontend>
    <global>
        <index>
            <indexer>
                <boxalinoexporter_indexer>
                    <model>boxalino_intelligence/indexer</model>
                </boxalinoexporter_indexer>
                <boxalinoexporter_delta>
                    <model>boxalino_intelligence/delta</model>
                </boxalinoexporter_delta>
            </indexer>
        </index>

        <models>
            <boxalino_intelligence>
                <class>Boxalino_Intelligence_Model</class>
            </boxalino_intelligence>
            <catalog_resource>
                <rewrite>
                    <product_collection>Boxalino_Intelligence_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </catalog_resource>
            <boxalino_intelligence>
                <class>Boxalino_Intelligence_Model</class>
                <resourceModel>boxalinoexporter_mysql4</resourceModel>
            </boxalino_intelligence>
            <boxalinoexporter_mysql4>
                <class>Boxalino_Intelligence_Model_Mysql4</class>
            </boxalinoexporter_mysql4>
            <widget>
                <rewrite>
                    <template_filter>Boxalino_Intelligence_Model_Template_Filter</template_filter>
                </rewrite>
            </widget>
        </models>

        <helpers>
            <boxalino_intelligence>
                <class>Boxalino_Intelligence_Helper</class>
            </boxalino_intelligence>
        </helpers>

        <blocks>
            <boxalino_intelligence>
                <class>Boxalino_Intelligence_Block</class>
            </boxalino_intelligence>
            <catalogsearch>
                <rewrite>
                    <autocomplete>Boxalino_Intelligence_Block_Autocomplete</autocomplete>
                    <result>Boxalino_Intelligence_Block_Result</result>
                    <layer>Boxalino_Intelligence_Block_Layer</layer>
                </rewrite>
            </catalogsearch>
            <catalog>
                <rewrite>
                    <product_list>Boxalino_Intelligence_Block_Product_List</product_list>
                    <product_list_toolbar>Boxalino_Intelligence_Block_Product_List_Toolbar</product_list_toolbar>
                    <layer_view>Boxalino_Intelligence_Block_Layer_View</layer_view>
                    <layer_state>Boxalino_Intelligence_Block_Layer_State</layer_state>
                    <product_list_related>Boxalino_Intelligence_Block_Product_List_Related</product_list_related>
                    <product_list_upsell>Boxalino_Intelligence_Block_Product_List_Upsell</product_list_upsell>
                </rewrite>
            </catalog>
            <enterprise_search>
                <rewrite>
                    <catalogsearch_layer>Boxalino_Intelligence_Block_EnterpriseLayer</catalogsearch_layer>
                </rewrite>
            </enterprise_search>
            <checkout>
                <rewrite>
                    <cart_crosssell>Boxalino_Intelligence_Block_Cart_Crosssell</cart_crosssell>
                </rewrite>
            </checkout>
        </blocks>
    </global>

    <default>
        <bxGeneral>
            <general>
                <enabled>1</enabled>
                <dev>0</dev>
            </general>
            <advanced>
                <thrift_timeout>2</thrift_timeout>
            </advanced>
        </bxGeneral>
        <bxExporter>
            <exporter>
                <enabled>1</enabled>
            </exporter>
            <customers>
                <enabled>1</enabled>
            </customers>
            <transactions>
                <enabled>1</enabled>
            </transactions>
            <advanced>
                <publish_configuration_changes>1</publish_configuration_changes>
            </advanced>
        </bxExporter>
        <bxSearch>
            <search>
                <enabled>0</enabled>
            </search>
            <autocomplete>
                <enabled>1</enabled>
                <category>1</category>
                <count>3</count>
                <ranking>counter</ranking>
                <level>1</level>
                <show_price>0</show_price>
                <limit>7</limit>
                <products_limit>1</products_limit>
            </autocomplete>
            <noresults>
                <status>1</status>
                <min>3</min>
                <max>3</max>
                <widget>noresults</widget>
            </noresults>
            <advanced>
                <search_sub_phrases_limit>3</search_sub_phrases_limit>
            </advanced>
        </bxSearch>
        <bxRecommendations>
            <cart>
                <status>1</status>
                <min>3</min>
                <max>3</max>
                <widget>basket</widget>
            </cart>
            <related>
                <status>1</status>
                <min>3</min>
                <max>3</max>
                <widget>similar</widget>
            </related>
            <upsell>
                <status>1</status>
                <min>3</min>
                <max>3</max>
                <widget>complementary</widget>
            </upsell>
        </bxRecommendations>
    </default>
</config>
