.search-autocomplete .autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
}

.search-autocomplete .autocomplete-suggestion {
    padding: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.search-autocomplete .autocomplete-selected {
    background: #f0f0f0;
}

.search-autocomplete .autocomplete-suggestions strong {
    font-weight: normal;
    color: #39f;
}

.search-autocomplete .product-autocomplete span {
    display: block;
    padding-left: 10px;
}

.search-autocomplete .product-autocomplete.hide {
    display: none;
}

.search-autocomplete ul {
    position: relative !important;
    background: #fff;
}
.search-autocomplete ul li {
    text-align: left;
}
.search-autocomplete ul li.selected {
    background: #bbb;
}
.search-autocomplete .amount {
    float: right;
    display: block;
    padding: 0 10px;
}
.search-autocomplete ul:first-child {
    border-bottom: none !important;
    -webkit-border-bottom-right-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    -moz-border-radius-bottomleft: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.search-autocomplete ul:last-child {
    top: -1px !important;
    border-top: none !important;
    -webkit-border-top-left-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-topright: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.queries .facet {
    color: rgb(138, 148, 175) !important;
}

.queries .facet span {
    padding-left: 10px;
}

.search-autocomplete ul li.facet:hover {
    background-color: #39f;
    color: #fff;
}

.queries a.selected li {
    background-color: #39f !important;
    color: #fff !important;
}

.search-autocomplete li.facet:hover span {
    color: #fff !important;
}
.suggest {
    display: block;
    height: 100px;
}

.suggest li {
    float: left;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    text-align: left;
    width: 31%;
}
div.top_filter > ol > li{
    float: left;
    padding-right: 10px;
}
ol > li.selected{
    font-weight: bold;
}
div.top_filter {
    height: 60px;
}
div.top_filter>ol.items>li.item>a{
    color: #0a0a0a;
}
div.top_filter>ol.items>li.item>a>span.count>.filter-count-label{
    display: none;
}
li.selected.parent{
    font-weight: bold;
}
li.children{
    padding-left: 10px;
}
li.parent:not(.selected)>a>span.count{
    display:none;
}
#bxslider{
    margin: 10px 10px 10px 10px !important;
}

@media screen and (min-width: 640px) {
  .blogArticlePost{
    width: 32% !important;
    height: 450px !important;
  }
}

@media screen and (min-width: 960px) {
  .blogArticlePost{
    width: 32% !important;
    height: 500px !important;
  }
}

@media screen and (max-width: 640px) {
  .blogArticlePost{
    width: 100% !important;
    max-height: 450px !important;
  }
  .blogArticleImage{
    width: 100% !important;
    max-height: 455px !important;
    height: unset !important;
  }
}

.blogArticlePost{

  border:1px solid #ddd;
  border-radius: 4px;
  box-shadow:0 0 8px 0 rgba(0,0,0,.1);
  padding:0 !important;
  padding-bottom:5px;
  margin:2px !important;
  overflow: hidden;
  float:left;

}

.blogArticleTextArea{

  padding:5px !important;

}

.blogArticleHeader{

  margin-top:0 !important;

}

.blogArticleOrderedList{

  margin-left: 0 !important;

}

.blogArticleImage{

  width: 100%;
  height: unset;

}
